.program-details-layout {
	padding: 32px;

	display: flex;
	flex-direction: column;
	gap: 32px;

	&__fields {
		display: flex;
		flex-direction: row;
		gap: 64px;
		& > div {
			flex: 1;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		justify-content: end;
		gap: 16px;
		& > div {
			flex: 1;
		}
	}
}
